# Estimated Salary Prediction Using Regression Model

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('dataset/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
le_gender = LabelEncoder()
data['Gender'] = le_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [5]:
# One-hot encoding
ohe_geography = OneHotEncoder(handle_unknown='ignore')
geo_encoded = ohe_geography.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=ohe_geography.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [8]:
## Split the data in training and tetsing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
# Save the encoders and scaler for later use
with open('models/label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(le_gender, file)

with open('models/onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(ohe_geography, file)

with open('models/scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Model

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [12]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

# summary report
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2,945
Trainable params: 2,945
Non-trainable params: 0
_________________________________________________________________

In [13]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "logs/regression_model/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [14]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [15]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs = 100,
    callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 2s 5ms/step - loss: 100386.2656 - mae: 100386.2656 - val_loss: 98553.7969 - val_mae: 98553.7969
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99776.9531 - mae: 99776.9531 - val_loss: 97334.8047 - val_mae: 97334.8047
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 97645.6406 - mae: 97645.6406 - val_loss: 94218.4219 - val_mae: 94218.4219
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 93406.7344 - mae: 93406.7344 - val_loss: 88923.4844 - val_mae: 88923.4844
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 87046.5781 - mae: 87046.5781 - val_loss: 81864.5391 - val_mae: 81864.5391
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 79293.0156 - mae: 79293.0156 - val_loss: 74054.6797 - val_mae: 74054.6797
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 71225.6484 - mae: 71225.6484 - val_loss: 66488.7422 - val_mae: 66488.7422
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 63989.4336 - mae: 63989.4336 - val_loss: 60303.4375 - val_mae: 60303.4375
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 58371.0156 - mae: 58371.0156 - val_loss: 55768.6562 - val_mae: 55768.6562
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 54504.7148 - mae: 54504.7148 - val_loss: 53091.6133 - val_mae: 53091.6133
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 52255.0742 - mae: 52255.0742 - val_loss: 51728.6211 - val_mae: 51728.6211
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 51165.1797 - mae: 51165.1797 - val_loss: 51225.1562 - val_mae: 51225.1562
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50666.3789 - mae: 50666.3789 - val_loss: 50999.8047 - val_mae: 50999.8047
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 50434.9336 - mae: 50434.9336 - val_loss: 50908.8984 - val_mae: 50908.8984
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50310.4648 - mae: 50310.4648 - val_loss: 50851.1328 - val_mae: 50851.1328
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 50235.1055 - mae: 50235.1055 - val_loss: 50808.8164 - val_mae: 50808.8164
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50170.2656 - mae: 50170.2656 - val_loss: 50771.8555 - val_mae: 50771.8555
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 50119.7891 - mae: 50119.7891 - val_loss: 50733.2891 - val_mae: 50733.2891
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 50071.9102 - mae: 50071.9102 - val_loss: 50701.6328 - val_mae: 50701.6328
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 50029.1523 - mae: 50029.1523 - val_loss: 50682.7930 - val_mae: 50682.7930
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49993.3516 - mae: 49993.3516 - val_loss: 50650.6523 - val_mae: 50650.6523
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49959.2383 - mae: 49959.2383 - val_loss: 50633.8320 - val_mae: 50633.8320
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49930.4297 - mae: 49930.4297 - val_loss: 50614.3008 - val_mae: 50614.3008
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 49902.4023 - mae: 49902.4023 - val_loss: 50592.5078 - val_mae: 50592.5078
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49875.7812 - mae: 49875.7812 - val_loss: 50569.4492 - val_mae: 50569.4492
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49856.4062 - mae: 49856.4062 - val_loss: 50547.2383 - val_mae: 50547.2383
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49832.9453 - mae: 49832.9453 - val_loss: 50537.8281 - val_mae: 50537.8281
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49809.7188 - mae: 49809.7188 - val_loss: 50527.6445 - val_mae: 50527.6445
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49792.8047 - mae: 49792.8047 - val_loss: 50514.3438 - val_mae: 50514.3438
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49775.2852 - mae: 49775.2852 - val_loss: 50499.8516 - val_mae: 50499.8516
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49756.3555 - mae: 49756.3555 - val_loss: 50488.6719 - val_mae: 50488.6719
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49738.4922 - mae: 49738.4922 - val_loss: 50474.2812 - val_mae: 50474.2812
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49726.0078 - mae: 49726.0078 - val_loss: 50461.6953 - val_mae: 50461.6953
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49709.1406 - mae: 49709.1406 - val_loss: 50464.8516 - val_mae: 50464.8516
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49695.1094 - mae: 49695.1094 - val_loss: 50455.4102 - val_mae: 50455.4102
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49683.4336 - mae: 49683.4336 - val_loss: 50444.0859 - val_mae: 50444.0859
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49669.6836 - mae: 49669.6836 - val_loss: 50444.8828 - val_mae: 50444.8828
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49658.0352 - mae: 49658.0352 - val_loss: 50440.8164 - val_mae: 50440.8164
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 49644.2617 - mae: 49644.2617 - val_loss: 50431.9922 - val_mae: 50431.9922
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49635.5547 - mae: 49635.5547 - val_loss: 50435.1133 - val_mae: 50435.1133
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49622.7109 - mae: 49622.7109 - val_loss: 50421.6914 - val_mae: 50421.6914
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49615.5742 - mae: 49615.5742 - val_loss: 50420.9961 - val_mae: 50420.9961
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49603.2109 - mae: 49603.2109 - val_loss: 50413.2656 - val_mae: 50413.2656
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 49594.8086 - mae: 49594.8086 - val_loss: 50408.4570 - val_mae: 50408.4570
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 49588.2188 - mae: 49588.2188 - val_loss: 50405.7656 - val_mae: 50405.7656
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49580.4922 - mae: 49580.4922 - val_loss: 50408.9492 - val_mae: 50408.9492
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 49571.7812 - mae: 49571.7812 - val_loss: 50392.3750 - val_mae: 50392.3750
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 49561.4805 - mae: 49561.4805 - val_loss: 50394.1445 - val_mae: 50394.1445
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49554.5000 - mae: 49554.5000 - val_loss: 50394.9609 - val_mae: 50394.9609
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 49551.6406 - mae: 49551.6406 - val_loss: 50388.6797 - val_mae: 50388.6797
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49539.3867 - mae: 49539.3867 - val_loss: 50395.5547 - val_mae: 50395.5547
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49537.5703 - mae: 49537.5703 - val_loss: 50384.6016 - val_mae: 50384.6016
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49530.4727 - mae: 49530.4727 - val_loss: 50384.6094 - val_mae: 50384.6094
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 49526.2422 - mae: 49526.2422 - val_loss: 50383.1289 - val_mae: 50383.1289
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 49517.5469 - mae: 49517.5469 - val_loss: 50373.1445 - val_mae: 50373.1445
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 49510.8281 - mae: 49510.8281 - val_loss: 50375.6602 - val_mae: 50375.6602
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49506.5898 - mae: 49506.5898 - val_loss: 50370.1680 - val_mae: 50370.1680
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 49501.0273 - mae: 49501.0273 - val_loss: 50375.5938 - val_mae: 50375.5938
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 49494.3438 - mae: 49494.3438 - val_loss: 50371.0508 - val_mae: 50371.0508
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49490.2461 - mae: 49490.2461 - val_loss: 50372.5586 - val_mae: 50372.5586
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 49485.9375 - mae: 49485.9375 - val_loss: 50367.9570 - val_mae: 50367.9570
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 49478.1836 - mae: 49478.1836 - val_loss: 50368.7734 - val_mae: 50368.7734
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49472.5430 - mae: 49472.5430 - val_loss: 50362.7188 - val_mae: 50362.7188
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 49473.7344 - mae: 49473.7344 - val_loss: 50358.7070 - val_mae: 50358.7070
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 49464.1836 - mae: 49464.1836 - val_loss: 50363.4219 - val_mae: 50363.4219
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 49459.1250 - mae: 49459.1250 - val_loss: 50368.0703 - val_mae: 50368.0703
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 49456.9531 - mae: 49456.9531 - val_loss: 50365.5078 - val_mae: 50365.5078
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 49450.7891 - mae: 49450.7891 - val_loss: 50355.8320 - val_mae: 50355.8320
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 49448.2305 - mae: 49448.2305 - val_loss: 50355.5938 - val_mae: 50355.5938
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 49445.0430 - mae: 49445.0430 - val_loss: 50361.5273 - val_mae: 50361.5273
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 49441.0898 - mae: 49441.0898 - val_loss: 50353.0586 - val_mae: 50353.0586
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 49437.1719 - mae: 49437.1719 - val_loss: 50349.6055 - val_mae: 50349.6055
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 49429.7188 - mae: 49429.7188 - val_loss: 50362.2188 - val_mae: 50362.2188
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 49424.4258 - mae: 49424.4258 - val_loss: 50361.2578 - val_mae: 50361.2578
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 49423.2422 - mae: 49423.2422 - val_loss: 50354.9570 - val_mae: 50354.9570
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 49415.9961 - mae: 49415.9961 - val_loss: 50357.6523 - val_mae: 50357.6523
Epoch 77/100
250/250 [==============================] - 2s 7ms/step - loss: 49413.2773 - mae: 49413.2773 - val_loss: 50372.7930 - val_mae: 50372.7930
Epoch 78/100
250/250 [==============================] - 2s 7ms/step - loss: 49411.5312 - mae: 49411.5312 - val_loss: 50372.4141 - val_mae: 50372.4141
Epoch 79/100
250/250 [==============================] - 2s 7ms/step - loss: 49403.7617 - mae: 49403.7617 - val_loss: 50367.9844 - val_mae: 50367.9844
Epoch 80/100
250/250 [==============================] - 2s 7ms/step - loss: 49401.7812 - mae: 49401.7812 - val_loss: 50366.7656 - val_mae: 50366.7656
Epoch 81/100
250/250 [==============================] - 2s 7ms/step - loss: 49400.5078 - mae: 49400.5078 - val_loss: 50372.6641 - val_mae: 50372.6641
Epoch 82/100
250/250 [==============================] - 2s 6ms/step - loss: 49395.1328 - mae: 49395.1328 - val_loss: 50372.0742 - val_mae: 50372.0742

In [16]:
%load_ext tensorboard

In [17]:
%tensorboard --logdir logs/regression_model

In [18]:
## Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 4ms/step - loss: 50349.6055 - mae: 50349.6055
Test MAE : 50349.60546875

In [19]:
model.save('models/regression_model.h5')